{{#each this}}
<div class="country-card">
  <div class="country-info">
    <p class="card-text">Region:<span class="text-bold">
        {{region}}</span></p>
    <p class="card-text">Sub Region:<span class="text-bold">
        {{subregion}}</span></p>
    <p class="card-text">Area:<span class="text-bold">
        {{area}}</span> km²</p>
  </div>

  <div class="country-flag">
    <h1><span class="country-name">{{name}}</span></h1>
    <img src="{{flag}}" alt="" height='400' width='600'>
    <p>Native Name:<span class="country-name">{{nativeName}}</span></p>
  </div>

  <div class="country-info">
    <h3 class="card-text">Capital:<span class="text-bold
          ">{{capital}}</span></h3>
    <p class="card-text">Population:<span class="text-bold
          ">{{population}}</span> </p>
    <ul class="languages-list"> Languages:
      {{#each languages}}
      <li class="languages-item">
        <span class="text-bold">
          {{name}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/each}}